.header {
    background: var(--primary-accent);
    color: var(--bg-light);
}

a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.site-header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-accent);
    height: 99px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--nav-width);
    gap: 2rem;
}

.nav-logo-full {
    height: 80px;
    width: auto;
    line-height: 0;
    margin-left: 20px;
}

.nav-logo-stacked {
    display: none;
}

.main-nav {
    flex: 1 1 auto;
}

.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: space-around;
}

.main-nav li {
    position: relative;
}

.nav-link {
    position: relative;
    font-family: var(--font-button);
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--bg-light);
    padding: 0.5rem 0;
    transition: color 0.3s ease;
    text-decoration: none;
    background: none;
}

.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0.1em;
    width: 100%;
    height: 5px;
    background: var(--secondary-accent);
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(.04, .44, .5, 1.21);
    pointer-events: none;
    z-index: 1;
}

.nav-link:hover::after,
.nav-link:focus::after,
.main-nav li.active .nav-link::after {
    transform: scaleX(1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--secondary-accent);
    outline: none;
}

.main-nav li:last-child .nav-link::after {
    display: none !important;
}


/* CTA button style */
.nav-cta {
    background-color: var(--secondary-accent);
    color: var(--gray-dark);
    padding: 0.65rem 1.25rem 0.5rem;
    border-radius: var(--border-radius);
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.nav-cta:hover,
.nav-cta:focus {
    background-color: var(--primary-accent-light);
    color: var(--gray-dark);
    outline: none;
}

/* Responsive Navigation Toggle Button */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0.5rem;
    margin: 0 3rem 0 0;
    box-shadow: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background-color: var(--gray-dark);
    height: 3px;
    width: 25px;
    border-radius: 2px;
    position: relative;
}

.hamburger {
    transition: transform 0.3s ease-in-out, background-color 0.2s ease;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.nav-toggle.is-active .hamburger {
    /* Make the middle bar transparent */
    background-color: transparent;
}

.nav-toggle.is-active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
}

.nav-toggle.is-active .hamburger::after {
    top: 0;
    transform: rotate(-45deg);
}

/* Responsive Styles */

@media (max-width: 992px) {

    .nav-logo-full {
        display: none;
    }

    .nav-logo-stacked {
        height: 80px;
        width: auto;
        line-height: 0;
        margin-left: 20px;
        display: initial;
    }

}

@media (max-width: 768px) {

    .header-container {
        gap: 0;
    }

    .site-header {
        background-color: var(--bg-medium);
        box-shadow: none;
    }

    .main-nav ul {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--secondary-accent);
        height: 100vh;
        width: 50vw;
        flex-direction: column;
        padding: 6rem 4rem;
        gap: 1rem;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .main-nav ul li {
        padding: 1rem;
    }

    .main-nav ul.active {
        transform: translateX(0);
    }

    .nav-toggle {
        display: block;
    }

    .nav-link {
        color: var(--gray-dark);
        font-size: var(--font-size-small);
    }

    .nav-link:hover {
        color: var(--primary-accent-dark);
    }

    .nav-cta {
        background-color: var(--primary-accent-dark);
        color: var(--bg-light);
    }

}

@media (max-width: 480px) {
    .main-nav ul {
        width: 100vw;
        max-width: 480px;
        padding: 8rem 0;
    }

    .main-nav li {
        margin-left: 2rem;
    }
}